<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap-fluent-integration.php"
	colors="true"
	backupGlobals="false"
>
	<testsuites>
		<testsuite name="EventBridge Fluent Booking integration">
			<directory suffix=".php">tests/integration</directory>
		</testsuite>
	</testsuites>
</phpunit>
